## For this assignment, we will take the tsv file including all of the students names and randomly assign these students to groups. We can start by importing some common libraries we will be using.

In [133]:
import pandas as pd
import random

In [134]:
data = pd.read_csv('https://raw.githubusercontent.com/UNCG-CSE/CSC-405-605_Fall_2021/master/Assignment/Assignment_1/Data/fall-21-students.tsv?token=ATJZQFAWOYQR2KENV7O5ZUTBGJTZM', sep='\t')

In [135]:
data.head(35)

                           Student                 Hash
0                   Albadri, Hager  1440304164971153371
1                  Brannon, Joseph   379392418257512139
2                 Burleson, Howard -5876059200547365790
3                   Carver, Aka'sh   178417370705844770
4                 Davis, Nathanael -1155012396224177706
5              Devenouges, Cassidy -2290910029969786308
6                       Fink, Jack -4639225912538006845
7                 Hayes, Priscilla -3307050396666584766
8            Honnenahalli, Srushti  8996458273604827358
9                    Ksor, Patrick -1916605416272849763
10                  Qureshi, Sarah  5512444535046378584
11                  Rhodes, Suqoya  1635691536871674328
12            Ruizvalencia, Carlos -4216448415765763167
13                  Serdan, Arturo -4698901151058499785
14                Staton, Mckenzie  9117085443251601003
15                    Supple, Kyle  6846964574701918709
16                       Tan, Heng  3564399023861771691
17                  Traylor, Alana   -29680934471851224
18                 Wheeler, Sytiva -2110293426468742815
19         Chunduru, Chandan Kumar  3670333503087225838
20             Folarin, Oluwafunke -2704179675044602151
21                    Him, Vathana  2400924999904550868
22                  Jayanna, Deepa  4502929135190096095
23             Kalidindi, Poojitha  8226776967895380712
24                Kandula, Pavitra  9058734215712205409
25                     Khan, Sarah -3067489292745361752
26  Malgari, Chandra Shekhar Reddy   -83403264136791342
27                   Nandy, Oishiq -7294606698304987387
28                   Sapra, Pujita  8225622007048178270
29                   Shanu, Shipra  9119341040909592440
30                   Somoye, Tessy  3304351536338388599
31                     Voigt, Jack  6969483852326121342

## We can now create a list of all of the names.

In [136]:
names = list(data['Student'])

In [137]:
names = list(names)

In [138]:
len(names)

32

## Now that we have our list of names, we can begin assigning names to objects that we will treat as our groups. We can use the function random.sample() to select 5 group members at random from our list of names.

In [139]:
group1 = random.sample(names, 5)

In [140]:
print(group1)

['Hayes, Priscilla', 'Wheeler, Sytiva', 'Brannon, Joseph', 'Kandula, Pavitra', 'Burleson, Howard']

## The code below will remove any names that were added to group 1 from our list of names to ensure we select names without replacement. We will run this for every group we form.

In [141]:
for i in group1:
    if i in names:
        names.remove(i)

In [142]:
group2 = random.sample(names, 5)

In [143]:
for i in group2:
    if i in names:
        names.remove(i)

In [144]:
group3 = random.sample(names, 5)

In [145]:
for i in group3:
    if i in names:
        names.remove(i)

In [146]:
group4 = random.sample(names, 5)

In [147]:
for i in group4:
    if i in names:
        names.remove(i)

In [148]:
len(names)

12

## Now that we only have 12 names remaining, to ensure that our groups remain similar in size, we will include 6 members in the final 2 groups.

In [149]:
group5 = random.sample(names, 6)

In [150]:
for i in group5:
    if i in names:
        names.remove(i)

In [151]:
group6 = random.sample(names, 6)

In [152]:
for i in group6:
    if i in names:
        names.remove(i)

In [153]:
print(names)

[]

## We can see after running all of these cells, our list of names is empty, which means all of our group members have been assigned to a group at random. We can print each of our groups and all of the names included to see the results.

In [154]:
print("Group 1 members: " + group1[0] + "  /  " + group1[1] + "  /  " + group1[2] + "  /  " + group1[3] + "  /  " + group1[4])
print("Group 2 members: " + group2[0] + "  /  " + group2[1] + "  /  " + group2[2] + "  /  " + group2[3] + "  /  " + group2[4])
print("Group 3 members: " + group3[0] + "  /  " + group3[1] + "  /  " + group3[2] + "  /  " + group3[3] + "  /  " + group3[4])
print("Group 4 members: " + group4[0] + "  /  " + group4[1] + "  /  " + group4[2] + "  /  " + group4[3] + "  /  " + group4[4])
print("Group 5 members: " + group5[0] + "  /  " + group5[1] + "  /  " + group5[2] + "  /  " + group5[3] + "  /  " + group5[4])
print("Group 6 members: " + group6[0] + "  /  " + group6[1] + "  /  " + group6[2] + "  /  " + group6[3] + "  /  " + group6[4])

Group 1 members: Hayes, Priscilla  /  Wheeler, Sytiva  /  Brannon, Joseph  /  Kandula, Pavitra  /  Burleson, Howard
Group 2 members: Carver, Aka'sh  /  Traylor, Alana  /  Folarin, Oluwafunke  /  Staton, Mckenzie  /  Jayanna, Deepa
Group 3 members: Qureshi, Sarah  /  Ruizvalencia, Carlos  /  Khan, Sarah  /  Honnenahalli, Srushti  /  Albadri, Hager
Group 4 members: Tan, Heng  /  Davis, Nathanael  /  Somoye, Tessy  /  Nandy, Oishiq  /  Kalidindi, Poojitha
Group 5 members: Ksor, Patrick  /  Sapra, Pujita  /  Rhodes, Suqoya  /  Voigt, Jack  /  Supple, Kyle
Group 6 members: Him, Vathana  /  Chunduru, Chandan Kumar  /  Shanu, Shipra  /  Devenouges, Cassidy  /  Serdan, Arturo